<% form.fields_for :taggings, form.object.taggings do |tags_form| %>
  <div class="row column">
    <% if label != false %>
      <label for="<%= input_id(tags_form) %>" class="block text-sm font-medium"><%= label %></label>
    <% end %>

    <select id="tags_list"
            placeholder="<%= t(".choose_tags") %>"
            data-tm-name="<%= field_name(tags_form) %>"
            data-tm-items="<%= selected_tags(tags_form) %>"
            data-tm-no-results="<%= t(".no_results") %>"
            class="mt-4" multiple>
      <% tag_options.each do |tag| %>
        <option value="<%= tag.id %>"><%= translated_attribute(tag.name) %></option>
      <% end %>
    </select>
  </div>
<% end %>
